:root{
    --main-color: cornflowerblue;
    --border-setting: 2px solid var(--main-color);
}

h1{
    text-align:center;
    font-size:50px;
    padding:20px;
}
h1 a{
    text-decoration: none;
    color: var(--main-color);
}

/* 메뉴의 윗줄 */
h1 + p{
    font-size: 17px;
    text-align:center;
    margin-top: 4px;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: var(--border-setting);
}

/* 메뉴 정렬 + 메뉴의 아랫줄 */
#menu{
    font-size:20px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    border-bottom:var(--border-setting);
    padding-bottom: 20px;
    font-weight: 700;
}

/* 메뉴 꾸미기 */
li{
    font-size:15px;
    padding:5px;
    margin:2px;
}

#menu a{
    text-decoration: none;
    color:black;
}