/* Header part */
h1{
    text-align:center;
    margin-bottom:0px;
    text-decoration: none;
}
/* 메뉴의 윗줄 */
h1 + p{
    text-align:center;
    margin-top: 8px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
/* 메뉴 정렬 + 메뉴의 아랫줄 */
#menu{
    display:flex;
    justify-content: space-evenly;
    border-bottom:1px solid black;
    padding-bottom: 15px;
    font-weight: 700;
}

/* Main part*/
main{
    padding-left:15px;
}