@import "reset.css";
@import "header.css";
/* Main part*/
main {
  font-family: var(--main-font);
  text-align: center;
  padding: 20px;
}

main h3 {
  display: inline;
  border-bottom: var(--border-setting);
  font-size: 40px;
  font-weight: 700;
  padding: 7px;
}

main :nth-child(2) {
  padding-top: 20px;
}

main p {
  font-size: 23px;
  margin: 10px;
}
