.TextEditor {
  border-top: 2px solid cornflowerblue;
  border-bottom: 2px solid cornflowerblue;
  text-align: center;
  padding: 20px;
}

.TextEditor h2 {
  font-size: 30px;
}

.TextEditor textarea {
  margin-bottom: 20px;
  width: 300px;
  padding: 10px;
  height: 200px;
}

.TextEditor select {
  width: 150px;
  padding: 10px;
  margin-bottom: 20px;
}

.TextEditor button {
  width: 150px;
  padding: 10px;
  cursor: pointer;
}
