.header {
  background-color: #b0d8e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.logo {
  margin-left: 20px;
  padding-bottom: 0px;
  width: 8%;
  height: 8%;
}
